EnMiNeveraGen/EnMiNeveraGenNHibernate/bin/Debug/hibernate.cfg.xml
EnMiNeveraGen/EnMiNeveraGenNHibernate/obj/Debug/EnMiNeveraGenNHibernate.csproj.FileListAbsolute.txt
EnMiNeveraGen/InitializeDB/bin/Debug/hibernate.cfg.xml
EnMiNeveraGen/EnMiNeveraGENCP/bin/Debug/hibernate.cfg.xml
EnMiNeveraGen.zip
OOH4RIA_EnMiNevera.zip
EnMiNeveraGen/EnMiNeveraGENCP/obj/
EnMiNeveraGen/EnMiNeveraGenNHibernate/bin/
EnMiNeveraGen/InitializeDB/bin/
EnMiNeveraGen/InitializeDB/obj/x86/
EnMiNeveraGen/MVCEnMiNevera/bin/
EnMiNeveraGen/MVCEnMiNevera/obj/
EnMiNeveraGen/packages/
