@model IEnumerable<MVCEnMiNevera.Models.Ingrediente>
@{
    ViewBag.Title = "Inicio";
}

<div class="busca jumbotron">
    <h1>Busca por Ingredientes</h1>
    <p>Introduce en el buscador los ingredientes que te apetezcan separando cada uno de ellos con el tabulador. Puedes eliminarlos de la búsqueda con el aspa.</p>
    <form id="form-busca-por-ingrediente" method="post" action="/Receta/BuscaPorIngrediente">
        <div class="form-group">
            <input type="text" class="form-control input-block" placeholder="Ingredientes" data-role="tagsinput">
        </div>
        <p>
            <button id="btn-busca-por-ingrediente" class="btn btn-success btn-block btn-lg" type="button">Buscar</button>
        </p>
    </form>

</div>

@Html.Partial("../Ingrediente/_Nube", Model);
@* Cons, si aqui no le pasas nada, a la vista no le llega ningún modelo, por lo que hace un null. tienes que hacer Html.Partial("...", ingredientes)
    siendo ingredientes algo que lo calcules en el controller. Por que ahora, ¿que recorres? Si no le estás pasando nada. *@


@section scripts {
    <script>
        $('#btn-busca-por-ingrediente').on('click', function (event) {
            var frm = $('#form-busca-por-ingrediente');

            // Creamos por cada span creado un input hidden
            $('.bootstrap-tagsinput>.tag').each(function (index) {
                frm.append(
                    $('<input>').attr({
                        name: 'ingredientes',
                        type: 'hidden',
                        value: $(this).text()
                    })
                )
            })

            frm.submit();
        })
    </script>
} 
