html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 110px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#navbar form {
    color: #e7e7e7;
}

.thumbnail {
    margin-top: 20px;
}

.footer {
    color: white;
    background-color: #1b1b1b;
    padding-top: 14px;
    padding-bottom: 14px;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.busca.jumbotron {
    text-align: center;
}

.bootstrap-tagsinput {
    line-height: 1.8em !important;
    width: 100%;
}

.bootstrap-tagsinput input {
    width: 100% !important;
}

.bootstrap-tagsinput > .label-info {
    font-size: 100%;
    line-height: inherit;
}