@model Tuple< IEnumerable<MVCEnMiNevera.Models.Usuario>, IEnumerable<MVCEnMiNevera.Models.Usuario>>
    >

    @{
        ViewBag.Title = "Ver";
    }

    <h2>Ver actividad</h2>

    <table class="table">

        @foreach (var item in Model.Item1)
        {
            foreach (var item2 in Model.Item2)
            {
            <tr>
                <td>
                    -@Html.DisplayFor(model => item.Nick) ha seguido a @Html.DisplayFor(model => item2.Nick)
                </td>
            </tr>
            }
        }

    </table>
