@model IEnumerable<MVCEnMiNevera.Models.Usuario>

@{
    ViewBag.Title = "Ver";
}

<h2>Ver actividad</h2>

<table class="table">

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Usuario) ha seguido a Tal
            </td>
        </tr>
    }

</table>