@model IEnumerable<MVCEnMiNevera.Models.Usuario>

@{
    ViewBag.Title = "Ver";
}

<h2>Ver actividad</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                -@Html.DisplayFor(model => item.Nombre) ha seguido a @Html.DisplayFor(model => item.Seguidos)
            </td>
        </tr>
    }

</table>