@model Tuple<IEnumerable<MVCEnMiNevera.Models.Usuario>, IList<System.String>>


@{
    ViewBag.Title = "Ver";
}

<h2>Ver actividad</h2>

<table class="table">

    @{

        var cont1 = 0;
        var cont2 = 0;
        var aux = 0;
        //var i = 0;

        //IList<string> usu = null;
        foreach (var item in Model.Item2)
        {
            cont2++;
            //usu.Add(item);

        }
        foreach (var item in Model.Item1)
        {
            cont1++;

        }

        foreach (var item in Model.Item1)
        {
            for (var i = 0; i < cont2 && i < cont1 && cont2 > aux; i++)
            {
                <tr>
                    <td>
                        -@Html.DisplayFor(model => item.Nick) ha seguido a @Model.Item2.ElementAt(aux)
                    </td>
                </tr>
                aux++;
            }
            /*
            foreach (var item2 in Model.Item2)
            {
            <tr>
                <td>
                    -@Html.DisplayFor(model => item.Nick) ha seguido a @Html.DisplayFor(model => item2.Nick)
                </td>
            </tr>
            }*/
        }
    }
</table>