
<div class="row">
    <div id="demo" class="wordcloud">
<<<<<<< HEAD:EnMiNeveraGen/MVCEnMiNevera/Views/Ingrediente/Nube.cshtml
        @foreach(var item in Model)
=======
        @*@foreach (var item in Model)
>>>>>>> 0ed58dc32f886fdf8ce885545eac00fd95337091:EnMiNeveraGen/MVCEnMiNevera/Views/Ingrediente/Index.cshtml
        {

        <span data-weight="21"> @Html.DisplayFor(model => item.Nombre)</span>

        }*@
    </div>

</div>
