@model MVCEnMiNevera.Models.Receta
@{
    ViewBag.Title = "Ultimas recetas añadidas";
}
<div class="row">
    <div class="col-md-4 col-md-push-1 col-xs-6 col-xs-offset-1">
        <h2>ViewBag.Title </h2>
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Búsqueda">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Buscar</button>
            </span>
        </div>
    </div>
    <div class="col-md-3 col-md-push-5">
        <p><button class="fa fa-plus-square fa-3x"></button></p>
        <p>Añadir receta</p>
    </div>
</div>
<div class="container">
    <!--AQUÍ VA TODAS LAS ULTIMAS RECETAS-->
</div>
